// Standard Font for page
$itapp-font-family: 'ApexSansMedium';
$itapp-font-alt-family: 'ApexSansLight';
$itapp-fixed-font-family: 'Andale Mono';
$itapp-standard-font-color: $itdarkgray;
$itapp-subtext-font-color: $itgray;

// Dashboard background Color
$itapp-background-color: $itdarkgray;
$itapp-transparent-color: rgba(0, 0, 0, .2);
$itapp-light-transparent-color: rgba(255, 255, 255, .7);

// Foreground Card colors
$itapp-card-color: $itlightgray;
$itapp-card-box-shadow-color: #5e6a71;
$itapp-card-title-color: $itdarkgray;

// Navbar Gradient Colors
$itapp-navbar-top-color: darken($itdarkred, 20%);
$itapp-navbar-bottom-color: darken($itred, 40%);
$itapp-navbar-border-color: darken($itdarkred, 15%);

// Navbar Dropdown Colors
$itapp-navbar-menu-text-color: $itlightgray;
$itapp-navbar-menu-shadow-color: $itgray;
$itapp-navbar-menu-hover-color: darken($itlightgray, 15%);
$itapp-navbar-menu-dropdown-background-color: $itlightgray;

// standard colors
$itapp-warn-color: orange;
$itapp-alert-color: red;
$itapp-ok-color: green;

// Application State Buttons
$itapp-state-primary-gradient-color: lighten($itgray, 30%);
$itapp-state-primary-alt-gradient-color: $itlightgray;
$itapp-state-secondary-gradient-color: $itdarkgray;
$itapp-state-icon-color: $itlightgray;
$itapp-state-line-color: $itgray;
$itapp-state-active-color: $itdarkgray;
$itapp-state-bg-color: $itlightgray;
$itapp-state-title-color: $itlightgray;

// Visualization - slider switche colors
$itapp-switch-slider-ok-state-primary-on-color: #26BF00;
$itapp-switch-slider-ok-state-secondary-on-color: #1CBC00;
$itapp-switch-slider-ok-state-primary-off-color: darken($itapp-switch-slider-ok-state-primary-on-color, 10%);
$itapp-switch-slider-ok-state-secondary-off-color: darken($itapp-switch-slider-ok-state-secondary-on-color, 10%);

$itapp-switch-slider-warn-state-primary-on-color: #BBBF00;
$itapp-switch-slider-warn-state-secondary-on-color: #898C00;
$itapp-switch-slider-warn-state-primary-off-color: darken($itapp-switch-slider-warn-state-primary-on-color, 10%);
$itapp-switch-slider-warn-state-secondary-off-color: darken($itapp-switch-slider-warn-state-secondary-on-color, 10%);

$itapp-switch-slider-fail-state-primary-on-color: #BF0000;
$itapp-switch-slider-fail-state-secondary-on-color: #8C0000;
$itapp-switch-slider-fail-state-primary-off-color: darken($itapp-switch-slider-fail-state-primary-on-color, 10%);
$itapp-switch-slider-fail-state-secondary-off-color: darken($itapp-switch-slider-fail-state-secondary-on-color, 10%);
$itapp-switch-slider-fail-text-color: #fff;

// Graph Colors
$itapp-graph-font-color: $itlightgray;
$itapp-bg-color: #000;
$itapp-border-color: lighten($itgray, 25%);
