 $timeFast: 0.125s;
 $timeMed: 0.5s;
 $timeSlow: 1s;

@include keyframes(toWorkBench) {
    0% {
           background-color: $itdarkgray;
    }
    100% {
           background-color: $itlightgray;
    }
}
.toWorkBench {
	-webkit-animation-name: toWorkBench;
	animation-name: toWorkBench;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}
.toWorkBench-enter {
    -webkit-animation-duration: $timeFast;
    animation-duration: $timeFast;
}
@include keyframes(toDashboard) {
    0% {
	    opacity: 1;
    }
    100% {
	    opacity: 0;
    }
}
.toDashboard {
	-webkit-animation-name: toDashboard;
	animation-name: toDashboard;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}
.toDashboard-enter {
    -webkit-animation-duration: $timeFast;
    animation-duration: $timeFast;
}
.fadeOutUp-enter {
    -webkit-animation-duration: $timeFast;
    animation-duration: $timeFast;
}
.fadeInDown-enter {
    -webkit-animation-duration: $timeFast;
    animation-duration: $timeFast;
}
.fadeIn-enter {
    -webkit-animation-duration: $timeFast;
    animation-duration: $timeFast;
}
